*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Faces */
@font-face {
  font-family: "Plain-regular";
  src: url("./Fonts/plain-regular-webfont.ttf");
}
@font-face {
  font-family: "Plain-light";
  src: url("./Fonts/plain-light-webfont.ttf");
}
@font-face {
  font-family: "silkserif-light";
  src: url("./Fonts/silkserif-lightitalic-webfont.ttf");
}
@font-face {
  font-family: "silkserif-regular";
  src: url("./Fonts/silkserif-regularitalic-webfont.ttf");
}

/* HTML and Body */
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Plain-regular";
  position: relative;
  & ::-webkit-scrollbar {
    display: none;
  }
}

.cursor {
  position: fixed;
  height: 3vw;
  width: 3vw;
  border: 1px solid gray;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform cubic-bezier(1, 0.04, 0.54, 1.07);
  pointer-events: none;
}

/* Preloader */
.preloader {
  /* display: none; */
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #0b0b0b;
  padding: 6vw 5vw;
  transition: 0.5s cubic-bezier(1, 0.04, 0.54, 1.07);
  /* transition-delay: -0.5s; */
  user-select: none;
  cursor: none;
  z-index: 9999;

  & .container {
    height: 100%;
    width: 100%;
    position: relative;
    line-height: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .counter {
      opacity: 0;
      width: 25%;
      line-height: 1.5;
      transition: opacity 0.5s cubic-bezier(0.3, 0.86, 0.36, 0.95);
      text-align: right;
      padding-right: 4.5vw;
      position: absolute;
      left: 0;
      font-family: "silkserif-regular";
      font-size: 3.2vw;
      z-index: 1000;
    }

    & #loader-top {
      position: relative;
      width: 100%;

      & .loader-text {
        overflow: hidden;
      }

      & h1 {
        font-size: 7.2vw;
        font-family: "Plain-light";
        text-transform: uppercase;
      }

      & [data-word="your"] {
        padding-left: 25%;
      }

      & [data-word="now"] {
        font-family: "silkserif-light";
        font-weight: 300;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        animation: changeStyle 2s infinite 0.5s;
      }
    }

    & #loader-bottom {
      opacity: 0;
      width: 100%;
      margin-top: 5vw;
      transition: opacity 0.35s cubic-bezier(0.3, 0.86, 0.36, 0.95);
      & p {
        max-width: 50%;
        margin-left: 25%;
        margin-right: auto;
        line-height: 1.5;
        font-weight: 100;
      }
    }
  }
}

/* Keyframes */
@keyframes changeStyle {
  0%,
  100% {
    font-family: "Plain-regular";
    color: white;
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
  50% {
    font-family: "silkserif-light";
    color: transparent;
    opacity: 1;
  }
}

/* Main */
main {
  height: 100%;
  width: 100%;
  padding: 0vw 5vw;
  overflow-x: hidden;

  color: white;
  background-color: #151515;

  & .page1 {
    height: 100%;
    width: 100%;

    background-color: #151515;

    & header {
      height: 20vh;
      display: flex;

      & #header-left {
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;

        & button {
          background-color: transparent;
          border: none;

          & rect {
            color: white;
          }
        }

        & .brand__svg {
          margin-left: 3vw;
        }
      }

      & #header-right {
        width: 75%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 3vw;
        pointer-events: none;

        & span {
          font-size: 1vw;
        }
      }
    }
  }

  & .hero-section {
    width: 75%;
    margin-top: 5vw;
    margin-left: auto;
    user-select: none;

    & .hero {
      font-size: 7.5vw;
      line-height: 7.5vw;
      text-transform: uppercase;
      overflow: hidden;
      cursor: context-menu;

      & p {
        & .hero-text {
          transition: 0.25s color ease-in-out;

          &:hover {
            -webkit-text-stroke: 1px white;
            color: transparent;
          }
        }
      }
    }
  }
}

.page2 {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 5vw;
  padding: 5vw 0vw;
  padding-left: 25%;
}

& section {
  position: relative;
  height: 100%;
  width: 100%;

  & .play {
    position: absolute;
    height: 10.5vw;
    width: 10.5vw;
    background-color: rgb(255, 166, 61);
    border-radius: 50%;
    right: 12.5%;
    top: -12%;
    z-index: 100;

    & i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5vw;
    }
  }

  & img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 108%;
    object-fit: cover;
    z-index: 99;
  }

  & video {
    position: absolute;
    top: 0;
    height: 100%;
    width: 108%;
    object-fit: cover;
    z-index: 98;
  }
}

.page4 {
  position: relative;
  min-height: 100%;
  width: 100%;
  padding-left: 25%;
  color: rgba(255, 255, 255, 0.9);

  & .about-section-headline {
    position: relative;
    height: 11vw;
    margin-bottom: 4vw;

    & h1 {
      font-size: 7.5vw;
      font-weight: 300;
      text-transform: uppercase;
    }

    & .headline-border {
      display: block;
      height: 1px;
      background-color: white;

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  & [data-word="first-paragraph"] {
    width: 60%;
    padding-bottom: 6vw;
    font-size: 2.5vw;
  }

  & .page4-bottom {
    display: flex;
    width: 100%;
    height: 150%;

    & .page4-image {
      height: 100%;
      width: 120%;

      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    & .page4-paragraph {
      & .p4-paragraph {
        padding-bottom: 2vw;
        padding-left: 2vw;
        font-size: 1.1vw;
        width: 74%;
        line-height: 1.5;
      }
    }
  }

  & .page4-about-section {
    width: 50%;
    background-color: rgb(63, 125, 244);
    padding: 4vw 4vw;
    margin-bottom: 5vw;
    position: absolute;
    right: 0%;
    bottom: -40%;

    & .rewards-row {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid white;
      padding: 2vw 0vw;

      & p {
        font-size: 1.5vw;
      }

      &:nth-child(1) {
        border-top: none;
      }

      &:nth-child(5) {
        border-bottom: 1px solid white;
      }

      & P:nth-child(2) {
        width: 56%;
        font-size: 1.2vw;
      }
    }
  }
}

.page5-top-border {
  height: fit-content;
  width: 100%;
  padding-left: 25%;
  margin-top: 40vw;

  & .page5-border {
    display: block;
    height: 1px;
    background-color: white;
  }

  & p {
    font-size: 1vw;
    padding: 2vw 0vw;
  }
}

.page5 {
  height: 100%;
  width: 100%;
  margin-top: 3vw;

  & .scrollbar-container {
    position: relative;
    height: 20vh;
    width: 200%;
    display: flex;
    text-transform: uppercase;

    font-family: "Plain-regular";
    color: transparent;
    -webkit-text-stroke: 1px white;
    animation: moveForward 35s linear infinite;

    &:nth-child(2n) {
      animation: moveBackward 35s linear infinite;
    }

    &:nth-child(2) {
      font-family: "silkserif-regular";

      & p:nth-child(2n) {
        font-family: "Plain-regular";
      }
    }

    & .page5-scrollbar {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }

    & P {
      font-size: 7vw;
      user-select: none;

      &::before {
        content: "—";
        font-weight: 300;
        font-family: "Plain-regular";
        margin: 0vw 2vw;
      }

      &:nth-child(2n) {
        font-family: "silkserif-regular";
      }
    }
  }
}

@keyframes moveForward {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moveBackward {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

footer {
  height: 90%;
  width: 100%;
  display: flex;

  & .footer-left {
    max-width: 25%;
    font-size: 3.5vw;
    font-family: "silkserif-regular";

    text-align: right;

    padding-right: 2.5vw;
    flex: 0 0 25%;
  }

  & .footer-right {
    flex: 0 0 75%;
    max-width: 75%;

    & .footer-border {
      display: block;
      height: 1px;
      background-color: white;
      margin: 2vw 0vw;
    }

    & h1 {
      font-size: 7.5vw;
      font-weight: 100;
      line-height: 1;
      text-transform: uppercase;
    }

    & h6 {
      font-size: 1.2vw;
      font-weight: 100;
      margin-bottom: 2vw;
    }

    & ul {
      list-style: none;

      & li {
        font-size: 1.8vw;
        margin-bottom: -0.2em;
      }
    }

    & .footer-main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-bottom: 5vw;

      & .footer-main-left {
      }
      & .footer-main-middle {
      }
      & .footer-main-right {
      }
    }

    & address {
      font-size: 1.8vw;
      font-family: "Plain-regular";
      font-style: normal;
    }

    & .footer-bottom {
    }
  }
}

/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------Media query starts-------------------------------------- */
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */

/* Media Queries */
@media (max-width: 768px) {
  .preloader {
    display: flex;
    flex-direction: column;
    transition: 1s cubic-bezier(1, 0.04, 0.54, 1.07);

    & .container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & .counter {
        position: relative;
        font-size: 4.5vw;
        display: block;
        text-align: left;
        width: 100%;
        margin-bottom: 2vw;
      }

      & #loader-top {
        position: relative;
        width: 100%;

        & h1 {
          font-size: 7.5vw;
          font-family: "Plain-light";
          text-transform: uppercase;
        }

        & [data-word="your"] {
          padding-left: 0;
        }
      }

      & #loader-bottom {
        & p {
          margin-left: 0;
          font-size: 2.5vw;
        }
      }
    }
  }

  main {
    & .page1 {
      height: 50%;

      & .hero-section {
        margin-top: 10vw;
        margin-left: 0;

        & .hero {
          font-size: 10vw;
          line-height: 10vw;
        }
      }
    }

    & .page2 {
      margin-top: 15vw;
      padding-left: 0;

      & section {
        & .play {
          height: 25vw;
          width: 25vw;

          right: 50%;
          top: 25%;

          & i {
            font-size: 5vw;
          }
        }

        & img {
          left: -5vw;
          height: 50%;
          width: 112%;
        }

        & video {
          left: -5vw;
          height: 50%;
          width: 112%;
        }
      }
    }

    & .page4 {
      position: relative;
      min-height: 100%;
      width: 100%;
      color: rgba(255, 255, 255, 0.9);
      padding-left: 0%;

      & .about-section-headline {
        position: relative;
        height: 18vw;
        margin-bottom: 12vw;

        & h1 {
          font-size: 10vw;
          font-weight: 300;
          text-transform: uppercase;
        }

        & .headline-border {
          display: block;
          height: 1px;
          background-color: white;

          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }

      & [data-word="first-paragraph"] {
        padding-bottom: 6vw;
        font-size: 5.5vw;
      }

      & .page4-bottom {
        display: flex;
        flex-wrap: wrap-reverse;

        & .page4-image {
          height: 100%;
          width: 100%;

          & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        & .page4-paragraph {
          & .p4-paragraph {
            padding-bottom: 6vw;
            font-size: 3.5vw;
            width: 75%;
            line-height: 1.5;
          }
        }
      }

      & .page4-about-section {
        position: relative;
        width: 100%;
        background-color: rgb(63, 125, 244);
        padding: 0vw 5vw 12vw;
        margin-bottom: 5vw;

        & .rewards-row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid white;
          border-bottom: 1px solid white;
          padding: 6vw 0vw;

          & p {
            font-size: 3.5vw;
          }

          &:nth-child(1) {
            border-top: none;
          }

          & P:nth-child(2) {
            font-size: 2.6vw;
            width: 52%;
          }
        }
      }
    }

    & .page5-top-border {
      height: fit-content;
      width: 100%;
      padding-left: 0%;
      margin-top: 20vw;

      & .page5-border {
        display: block;
        height: 1px;
        background-color: white;
      }

      & p {
        font-size: 3vw;
        padding: 6vw 0vw;
      }
    }

    & .page5 {
      height: fit-content;
      & .scrollbar-container {
        height: 8vh;

        & P {
          font-size: 10vw;
        }
      }
    }

    & footer {
      flex-direction: column;
      padding: 15vw 0vw;

      & .footer-left {
        text-align: left;
        padding-right: 0vw;
        flex: 0 0 8%;
        font-size: 4.5vw;
      }

      & .footer-right {
        & .footer-border {
          margin: 0vw 0vw;
        }

        & h6 {
          font-size: 4.5vw;
          font-weight: 100;
          margin-bottom: 5vw;
        }

        & h1 {
          font-size: 8.5vw;
          margin-bottom: 10vw;
        }

        & ul {
          & li {
            font-size: 6vw;
            margin-bottom: -0.2em;
          }
        }

        & .footer-main {
          grid-template-columns: 1fr;
          padding: 15vw 0vw;
          color: rgb(255, 255, 255);

          & .footer-main-left {
            margin-bottom: 10vw;
          }
          & .footer-main-middle {
            margin-bottom: 10vw;
          }
          & .footer-main-right {
          }
        }

        & address {
          font-size: 6vw;
        }
      }

      & .footer-bottom {
        padding: 10vw 0vw;
      }
    }
  }
}
